
.variants-container {
    display: flex;
}

.variant {
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 300px;
    background-color: lightblue;
}

.remove-variant-btn {
    margin-top: 20px;
}