.product-grid {
    width: 1200px;
    background-color: aquamarine;
    margin: auto;
}

.products {
    display: flex;
}

.product-container {
    margin: 1rem;
    background-color: wheat;
    text-align: center;
    width: 200px;
    height: 280px;
}

.product-image {
    width: 180px;
    height: 180px;
    margin: 10px;
}