{{ define "content" }}
<h1>All Product</h1>
<a href="/admin">Back</a><br><br>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Variants</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {{ range .Product }}
    <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Title }}</td>
        <td>{{ .Author }}</td>
        <td>{{ .Description }}</td>
        <td>
            {{ if .Variants }}
                <table border="0" cellpadding="4">
                    <tr>
                        <th>Image</th>
                        <th>Color</th>
                        <th>Price</th>
                        <th>Stock</th>
                    </tr>
                    {{ range .Variants }}
                    <tr>
                        <td>
                            {{ if .ImagePath }}
                                <img src="/static/img/{{ .ImagePath }}" width="50"><br>
                            {{ else }}
                                <em>No image</em>
                            {{ end }}
                        </td>
                        <td>{{ .Color }}</td>
                        <td>${{ .Price }}</td>
                        <td>{{ .Stock }}</td>
                    </tr>
                    {{ end }}
                </table>
            {{ else }}
                <em>No variants</em>
            {{ end }}
        </td>
        <td><a href="/admin/edit-product/{{ .ID }}">Edit</a></td>
        <td><a href="/admin/delete-product/{{ .ID }}">Delete</a></td>
    </tr>
    {{ end }}
</table>
{{ end }}
