{{define "header"}}
    <header>
        <h1>E-Commerce Store</h1>
        <nav>
            <a href="/">Home</a> |
            {{ if .LoggedIn }}
            <a href="/admin">Admin</a> |
            {{ end }}
            <a href="/about">About</a> |
            <a href="/blogs">Blogs</a> |
            <a href="/videos">Videos</a> |
            {{ if .LoggedIn }}
            <a href="/admin/logout">Logout</a> |
            {{ end }}
            <a href="/cart">Cart</a> |
            <a href="/orders">Orders</a> 
        </nav>
        <hr>
    </header>
{{end}}