{{ define "content" }}
    <h1>Cart</h1>
    
    <div style="display: flex;">
    {{ range .Products }}
        <div style="margin-right: 20px; background-color: lightblue; padding: 20px;">
            <img src="/static/img/{{ .Variant.ImagePath }}" alt="" srcset="">

            <p>Quantity: {{ .Quantity }}</p>
            <div style="display: flex;">
                <p>Price: ${{ printf "%.2f" .Total }} </p>

                <form action="increment-item" method="POST">
                    <button name="increment" type="submit" class="btn add-remove-btn" value="{{ .Variant.ID }}">+</button>
                </form>
                <form action="decrement-item" method="POST">
                    <button name="decrement" type="submit" class="btn add-remove-btn" value="{{ .Variant.ID }}">-</button >
                </form>
            </div>
            <form action="remove-item" method="POST">
                <button name="remove-item" type="submit" class="btn" value="{{ .Variant.ID }}">Remove</button>
            </form>
        </div>
    {{ end }}
    </div>
    <p>Total: ${{ printf "%.2f" .Total }}</p> 
    <p>GST: ${{ printf "%.2f" .Tax }}</p> 
    <p>Total: ${{ printf "%.2f" .Subtotal }}</p> 

    <br>
    
    <form action="/cart-checkout" method="POST">
        <input type="hidden" name="id" value="/">
        <button class="btn" type="submit">Checkout</button>
    </form>
{{ end }}