{{ define "title" }}
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/edit-product.css">
{{ end }}

{{ define "content" }}
    <h1>Product</h1>
    <h3>{{.Title}} by {{.Author}}</h3>
    <p>{{.Description}}</p>

    {{block "content-custom" .}}{{end}}
    
    {{ if .Variants }}
        <div id="variants-container" class="variants-container">
        {{ range .Variants }}
            <div class="variant">
                <p>${{.Price}}</p>
                <p>{{.Stock}}</p>
                <p>{{.Color}}</p>

                {{block "variant-custom" .}}{{end}}
                
                {{ if .ImagePath }}
                    <img src="/static/img/{{ .ImagePath }}" alt="Variant Image" width="100">
                {{ else }}
                    <img src="/static/img/default.png" alt="Default Image" width="100">
                {{ end }}
         
                <div style="display: flex; justify-content: space-around;">
                    <form action="/add-to-cart" method="POST">
                        <input type="hidden" name="id" value="{{.ID}}">
                        <button class="btn" type="submit">Add To Cart</button>
                    </form>
                    <form action="/checkout" method="POST">
                        <input type="hidden" name="id" value="{{$.ID}}">
                        <button class="btn" type="submit">Buy</button>
                    </form>
                </div>
            </div>
        {{ end }}
        </div>
    {{ else }}
        <p>No variants found</p>
    {{ end }}
{{ end }}