{{ define "product_grid" }}
<div class="product-grid">
    <ul class="products">
        {{range .}}
        <li class="product-container">
            <a href="/product/{{.ID}}">
                <img class="img product-image"  src="static/img/{{(index .Variants 0).ImagePath}}" alt="" srcset="">
                <div class="overlay">
                    <h3>{{.Title}} by {{.Author}}</h3>
                    <p>from ${{ printf "%.2f" .LowestPrice }}</p>
                </div>
            </a>
        </li>
        {{end}}
    </ul>
</div>
{{ end }}