{{ define "title" }}
    <title>Book Maker</title>
{{ end }}

{{ define "content" }}
    <h1>Welcome to the Store!</h1>
    <br>
    
    <!-- go to page of books returning a list of found -->
    <h2>Search DB</h2> 
    <form action="/search" method="GET">
        <input type="text" name="q" id="search" placeholder="Enter search term">
        <button type="submit">Submit</button>
    </form>

    <!-- search and select from a list -->
    <h2>Products</h2>
    <ul>
    {{ range .Authors }}
        <!-- Later update the href to point to author's page or search -->
        <li><a href="/search?q={{ . }}">{{ . }}</a></li>
    {{ end }}
    </ul>
    <br>
    <h2><a href="products">All Products</a></h2>
{{ end }}