{{ define "title" }}
    <title>Book Maker</title>
    <link rel="stylesheet" href="/static/css/hero.css">
{{ end }}

{{ define "content" }}   

    {{template "search" .}}
    
    <main>
        <div class="carousel">
            <!-- TODO: -->
            <!-- store these in the DB and change through admin panel, fill out wiht Go -->
             
            <a href="blogs">
                <div class="slide active" style="background-image: url('static/img/green.png');">
                    <div class="overlay">
                        <h1>Advertisement   for product 1</h1>
                        <p>hook text</p>
                    </div>
                </div>
            </a>
            <a href="blogs">
                <div class="slide" style="background-image: url('static/img/red.webp');">
                    <div class="overlay">
                        <h1>Advertisement for product 2</h1>
                        <p>hook text</p>
                    </div>
                </div>
            </a>
            <a href="blogs">
                <div class="slide" style="background-image: url('static/img/blue.jpg');">
                    <div class="overlay">
                        <h1>Advertisement for product 3</h1>
                        <p>hook text</p>
                    </div>
                </div>
            </a>
            <a href="blogs">
                <div class="slide" style="background-image: url('static/img/brown.webp');">
                    <div class="overlay">
                        <h1>Advertisement for product 4</h1>
                        <p>hook text</p>
                    </div>
                </div>
            </a>
            <!-- Navigation Dots -->
            <div class="dots"></div>
        </div>

        <script src="/static/js/hero.js"></script>


        <br>
        
        <!-- TODO: -->
        <!-- store these in the DB and change through admin panel, fill out wi Go -->
        <h2>Recently Added</h2>
        <section class="recently-added">
            <div class="carousel-container">
                <div class="carousel-track carousel-track-scroll-slow">
                    <!-- 10 images -->
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/blue.jpg" alt=""></a>
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/default.png" alt=""></a>
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/dark-brown.webp" alt=""></a>
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/red.webp" alt=""></a>
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/brown.webp" alt=""></a>

                    <!-- Duplicate first 5 for smooth looping -->
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/blue.jpg" alt=""></a>
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/default.png" alt=""></a>
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                </div>
            </div>
        </section>
        
        <!-- TODO: -->
        <!-- store these in the DB and change through admin panel, fill out wi Go -->
        <h2>Most Popular</h2>
        <section class="recently-added">
            <div class="carousel-container">
                <div class="carousel-track carousel-track-scroll-normal">
                    <!-- 10 images -->
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/blue.jpg" alt=""></a>
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/default.png" alt=""></a>
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/dark-brown.webp" alt=""></a>
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/red.webp" alt=""></a>
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/brown.webp" alt=""></a>

                    <!-- Duplicate first 5 for smooth looping -->
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/blue.jpg" alt=""></a>
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                    <a href=""><img src="/static/img/default.png" alt=""></a>
                    <a href=""><img src="/static/img/green.png" alt=""></a>
                </div>
            </div>
        </section>


        <!-- search and select from a list -->
        <h2>Products</h2>
        <ul>
        {{ range .Authors }}
            <!-- Later update the href to point to author's page or search -->
            <li><a href="/search-products?q={{ . }}">{{ . }}</a></li>
        {{ end }}
        </ul>
        <br>
        <h2><a href="products">All Products</a></h2>
    </main>
{{ end }}