{{ define "title" }}
    <title>Book Maker</title>
    <link rel="stylesheet" href="/static/css/hero.css">
{{ end }}

{{ define "content" }}   

    {{template "search" .}}
    
    <div class="carousel">

        <!-- TODO: -->
        <!-- store these in the DB and change through admin panel, fill out wiht Go -->
        <a href="blogs">
            <div class="slide active" style="background-image: url('static/img/green.png');">
                <div class="overlay">
                    <h1>Advertisement   for product 1</h1>
                    <p>hook text</p>
                </div>
            </div>
        </a>
        <a href="blogs">
            <div class="slide" style="background-image: url('static/img/red.webp');">
                <div class="overlay">
                    <h1>Advertisement for product 2</h1>
                    <p>hook text</p>
                </div>
            </div>
        </a>
        <a href="blogs">
            <div class="slide" style="background-image: url('static/img/blue.jpg');">
                <div class="overlay">
                    <h1>Advertisement for product 3</h1>
                    <p>hook text</p>
                </div>
            </div>
        </a>
        <a href="blogs">
            <div class="slide" style="background-image: url('static/img/brown.webp');">
                <div class="overlay">
                    <h1>Advertisement for product 4</h1>
                    <p>hook text</p>
                </div>
            </div>
        </a>
        <!-- Navigation Dots -->
        <div class="dots"></div>
    </div>

    <script src="/static/js/hero.js"></script>


    <br>
    
    <h2>Recently Added</h2>

    <div class="carousel"></div>
        <a href="blogs">
            <div class="slide" style="background-image: url('static/img/brown.webp');">
                <div class="overlay">
                    <h1>Advertisement for product 4</h1>
                    <p>hook text</p>
                </div>
            </div>
        </a>


    <h2>Most viewed</h2>

    <!-- search and select from a list -->
    <h2>Products</h2>
    <ul>
    {{ range .Authors }}
        <!-- Later update the href to point to author's page or search -->
        <li><a href="/search-products?q={{ . }}">{{ . }}</a></li>
    {{ end }}
    </ul>
    <br>
    <h2><a href="products">All Products</a></h2>

{{ end }}