<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/footer.css">

    <script defer src="/static/icons/fontawesome.min.js"></script>
    <script defer src="/static/icons/solid.min.js"></script>
    {{block "title" .}}{{end}}
</head>

<body>
    {{template "header" .}}

    {{block "content" .}}{{end}}

    {{template "footer" .}}
</body>
</html>